.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  border-radius: 50%;
  height: 100px;
}

.card-header.text-bg-dark,
.card.border-dark {
  border-color: #000 !important;
}

.card-header.text-bg-dark {
  background-color: #000 !important;
  color: #fff !important;
}

.btn-dark.border-dark.text-white {
  background-color: #1c1c1c !important;
  border-color: #1c1c1c !important;
  color: #fff !important;
}

.btn-dark.border-dark.text-white:hover,
.btn-dark.border-dark.text-white:focus,
.btn-dark.border-dark.text-white:active {
  background-color: #3a3a3a !important;
  border-color: #3a3a3a !important;
  color: #fff !important;
}

.card.border-dark .card-header.text-bg-dark {
  background-color: #000 !important;
}

 
